@inherits LayoutComponentBase

@code{

    protected override void OnInitialized()
    {
        _currentTheme = _defaultTheme;
    }

    void DarkMode()
    {
        _currentTheme = _currentTheme == _defaultTheme ? _darkTheme : _defaultTheme;
    }

    MudTheme _currentTheme = new MudTheme();

    readonly MudTheme _defaultTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#272c34"
        }
    };

    readonly MudTheme _darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)"
        }
    };
}
<style type="text/css">
    .header {
        width: 100%;
        height: auto;
        text-align: center;
      }
</style>

<div class="main">
    <div class="top-row px-4" style="background-color: black; outline: black">
        <MudButton OnClick="@((e) => DarkMode())">Toggle Dark/Light Mode</MudButton>
        <a href="https://www.facebook.com/Pioneer-Carpentry-And-Construction-107322914145891/"><MudIcon Icon="@Icons.Custom.Brands.Facebook" /></a>
        <a href="tel:+447624244117"><MudIcon Icon="@Icons.Custom.Brands.WhatsApp" />
            <MudIcon Icon="@Icons.Outlined.Call" /></a>
        <a href="mailTo: pioneer-construction@outlook.com"><MudIcon Icon="@Icons.Outlined.Mail"></MudIcon></a>
        
    </div>
    <div class="header">
        <img src="imgs/pioneer-logo.jpg" style="border-radius: 50%; padding: 10px" />
    </div>
    <div class="content px-4" >
        @Body
        
    </div>
    <div class="container"style="margin: auto; padding: auto;display: flex; justify-content: center;">
        <img src="imgs/Portfolio/BackgroundWithLogo.jpg" style=" padding: 10px" />
    </div>
</div>

<MudThemeProvider Theme="_currentTheme"></MudThemeProvider>
<MudDialogProvider />
<MudSnackbarProvider />
